* {
	box-sizing: border-box;
}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-size: 100%;
}
body {
    margin: 0;
    background: #f2f2f2;
    color: #000;
    font-weight: 500;
    font-style: normal!important;
    font-size: 14px;
    font-family: "Roboto","segoe ui",Helvetica,Arial,sans-serif;
    line-height: 1.42857;
    min-width: 718px;
    padding-right: 0;
}
header {
	background: #1c1c1c;
	min-width: 1000px;
}
li {
	list-style: none;
}
nav {
    width: 100%;
    min-width: 1000px;
    height: 40px;
}
ul {
	margin: 0;
}
a {
    text-decoration: none;
    color: #000;
}
a:hover {
	color: #721799;
}
img {
	max-width: 100%;
}
.group {
	display: block;
	clear: both;
}
.group:after, .pull-left:after {
    content: "";
    visibility: hidden;
    display: block; 
    clear: both;
}
.container {
	width: 1000px;
	margin:0 auto;
	position: relative;
}
.logo {
	float: left;
    width: 185px;
    height: 40px;
    margin-top: 6px;	
}
.logo a {
	display: block;
	width: 100%;
	height: 100%;
}
.section-search {
    position: relative;
}
.section-search .search {
	float: left;
	position: relative;
	margin-top: 10px;
    width: 355px;
}
.section-search .search .input-txt {
	float: left;
	padding: 5px 15px;
	width: 100%;
	border: 0 none;
	height:29px;
	margin: 0;
    font-size: 100%;
    vertical-align: middle;
}
.section-search .search .input-btn {
	background: #fff;
	position: absolute;
    right: 0;
    top: 0;
    white-space: nowrap;
    height: 29px;
}
.section-search .search .input-btn:hover {
    opacity: .9;
	background: #f2f2f2;
}
textarea:focus, input:focus {
    outline: 0;
}

.pull-left {
	float: left;
	list-style: none;
	margin: 0 0 0 20px;
	padding: 0px;
}
.pull-left li {
	float: left;
	text-transform: uppercase;
}
.pull-left li a {
	display: block;
	color: #fff;
	line-height: 50px;
	text-decoration: none;
	padding: 0px 15px;
}
.pull-left li:hover a {	
	background-color: #b03535;
}
.hide-text {
    border: 0;
    background-color: transparent;
    text-shadow: none;
}
.btn {
    width: 34px;
    height: 29px;
    background-position: 5px -34px;
    line-height: 29px;
}
.zicon {
	display: inline-block;
}
.pull-right {
	float: right;
}
header .nav-account {
	line-height: 50px;
    font-weight: 300;
}
.nav-account a {
	color: #fff;
	text-decoration: none;
}
header .nav-account a:hover {
    text-decoration: underline;
}
a, a:hover, a:active, a:focus, button:focus {
    outline: 0;
}
nav .container {
    background: #e4e4e4;
    width: 1000px;
    margin: 0 auto;
    overflow: visible;
}
.six-color-bg, nav {
    position: relative;
    z-index: 1234;
    background: #e4e4e4;
}
nav .main-nav>li {
    float: left;
    position: relative;
}
nav .main-nav li a:hover {
    text-decoration: none;
}
.main-nav li a {
    color: #333;
}
nav .main-nav li a {
    line-height: 32px;
    padding: 0 20px;
    display: block;
    white-space: nowrap;
}
nav .main-nav>li>a {
    line-height: 39px;
    font-weight: 400;
    padding: 0 15px;
}
nav .main-nav .separation {
    width: 1px;
    height: 20px;
    margin: 10px 5px 0;
    background: #ccc;
}
nav .main-nav>li {
    float: left;
    position: relative;
}
nav .main-nav>li:hover {
    background: #fff;
}
.toggle-ads {
    position: absolute;
    right: 35px;
    top: 10px;
    font-family: "Open Sans","segoe ui",Helvetica,Arial,sans-serif;
    font-size: 13px;
}
.toggle-ads i {
    position: relative;
    right: 5px;
}
.icon-cloud {
	font-size: 18px;
    position: absolute;
    right: 0;
    top: 6px;
    color: #721799;
}
.wrapper-page {
    background-color: #fff;
    width: 1000px;
    margin: 0 auto;
    padding: 15px 12px 0;
}
.grid-container {
	width: 970px;
    margin: 0 auto;
    overflow: hidden;
	display: grid;
	grid-template-columns: 650px 300px;
	grid-column-gap: 20px;
}
.music-for-you {
	position: relative;
	background: url(https://static-zmp3.zadn.vn/skins/zmp3-v5.1/images/discover_background.png) center center / cover no-repeat;
    height: 126px;
    margin-bottom: 20px;
}
.thumb-playlist {
	position: absolute;
    top: 20px;
    z-index: 10;
    left: 20px;
    width: 90px;
    height: 90px;
}
.thumb-playlist .icon-circle-play {
	position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -20px;
    color: #dcdcdc;
}
.thumb-playlist img {
	transition: all .3s ease-in;
}
.thumb-playlist:hover img {
    opacity: .65!important;
}
.discover-playlist .background {
    opacity: .6;
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.intro {
    position: absolute;
    top: 20px;
    z-index: 10;
    right: 20px;
    width: 160px;
    text-shadow: 0 1px 1px rgba(3,3,3,.97);
}
.title a {
    font-weight: 700;
    font-size: 14px;
    color: #fff;
}
.des a {
	color:#fff;
}
.background {
	opacity: 0.6;
	background-color: #000;
	position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.fs18 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 15px;
    color: purple;
}
.part-cate-inside {
	display: grid;
	grid-template-columns: 300px;
	grid-template-rows: repeat(5, 90px [col-start]);
	grid-row-gap: 15px;
}
.part-cate-inside a {
	width: 100%;
}
.slide-body {
	margin-bottom: 7px;
	border: 1px solid #dfdfdf;
	height: 274px;
}
.slide-thumb {
	display: grid;
	grid-template-columns: repeat(5, 124px [col-start]);
	grid-template-rows: 50px;
	grid-column-gap: 7px;
	margin-bottom: 7px;
}
.slide-thumb-item {
	border: 1px solid #dfdfdf;
	display: flex;
	overflow: hidden;
}
.slide-item-cover {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: rgba(87, 15, 92, 0.73);
}
.slide-item-cover:hover img {
	opacity: 0.65;
}
.graph {
	overflow: hidden;
	width: 650px;
	height: 280px;
    margin-bottom: 5px;
}
.list-graph {
    border-bottom: solid 1px #ECECEC;
    padding: 10px;
}
.list-graph:last-child {
    border-bottom: none;
}
.list-graph-item {
    display: grid;
    grid-template-columns: 70px 60px auto 110px 80px;
    grid-template-rows: 60px;
}
.avatar-song {
    background-color: #000;
    background-size: cover;
    background-position: center center;
    width: 60px;
    height: 60px;
    position: relative;
}
.small-circle-play {
    position: absolute;
    top: 34%;
    right: 38%;
    color: #fff;
    transform: scale(0);
    transition: all .3s ease-in;
}
a:hover .img-thumb {
    opacity: .65;
}
a:hover .small-circle-play {
    display: block;
    opacity: 1;
    transform: scale(1.5);
}
.img-thumb {
    display: block;
    max-width: 100%;
    height: auto;
    transition: all .3s ease-in;
}
.list-graph-item .info {
    padding-left: 10px;
}
.info .song-name {
    margin-bottom: 1px;
    font-size: 14px;
    line-height: 1.67;
    color: #000;
    font-weight: 600;
}
.sub-title {
    margin-bottom: 2px;
    font-size: 12px;
    line-height: 1.43;
}
.sub-title a {
    color: #666;
}
.num-song {
    height: 60px;
    line-height: 60px;
    color: #666;
    font-size: 16px;
}
.label-rank {
    padding-top: 14px;
    color: #666;
    font-size: 18px;
    position: relative;
}
.line-rank {
    font-size: 13px;
    font-weight: 800;
    position: absolute;
    left: 32px;
    top: 18px;
    color: #666;
}
.top-1 {
    color: #4a90e2;
}
.top-2 {
    color: #00AF64;
}
.top-3 {
    color: #D8541C;
}
.title-section {
    text-transform: uppercase;
    font-weight: 300;
    color: purple;
}
.list-music-theme {
    display:grid;
    grid-template-columns: repeat(4, 151px [col-start]);
    grid-template-rows: 220px 220px;
    grid-column-gap: 14px; 
    grid-row-gap: 14px; 
}
.album-item {
}
.album-link {
    display: block;
    position: relative;
    background-color: #000;
    margin-bottom: 8px;
}
.normal-circle-play {
    position: absolute;
    top: 42%;
    right: 45%;
    color: #fff;
    transform: scale(0);
    transition: all .3s ease-in;
}
a:hover .normal-circle-play {
    display: block;
    opacity: 1;
    transform: scale(3);
}
.des h3 {
    font-weight: 500;
    font-size: 100%;
}
.rest-weekend h2 {
    margin-bottom: 20px;
}
.view-more {
    margin: 10px 0px 20px;
    display: block;
    color: #707070;
}
.title-section a {
    color: purple;
}
.icon-play {
    margin-left: 10px;
    color: #8d8d8d!important;
}
.icon-play:hover i {
    color: purple;
}


.weekly-item-song {
    display: flex;
    align-items: center;
    padding: 12px 0px;
    border-bottom: 1px solid #EEE;
}
.weekly-item-song .number {
    font-size: 20px;
    padding: 0px 8px;
}
.weekly-item-song .info {
    font-size: 14px;
    flex-grow: 1;
}
.weekly-item-song .song-title {
    margin-bottom: 8px;
}
.weekly-item-song .single {
    font-size: 13px;
    color:#999;
}
.weekly-item-song .view-count {
    font-size: 13px;
    color:#999;
}
.tab-nav {
    display: flex;
    overflow: hidden;
}
.tab-nav li {
    width: 33.3333333%;
    height: 42px;
    display: block;
    font-size: 16px;
    text-align: center;
    line-height: 42px;
    background: #ecf0f1;
    color: #333;
}
.tab-nav li.active {
    border-top: 2px solid #721799;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    background: #fff;
}
.tab-nav li:hover {
    border-top: 2px solid #721799;
}
.rank-1 {
    position: relative;
    margin: 12px 0px;
    padding:0;
    border-bottom: 1px solid #EEE;
}
.rank-1 img {
    width: 300px;
    height: 126px;
}
.mask {
    display: block;
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom,transparent 0%,rgba(0,0,0,0.8) 100%);
}
.description {
    position: absolute;
    display: flex;
    bottom: 4px;
    width: 100%;
    left: 0;
    padding: 0 10px 10px;
    color: #fff;
    z-index: 1;
}
.description .number {
    width: 16px;
    font-size: 20px;
    margin: 5px 16px 6px 2px;
}
.description .info {
    width: 85%;
}